In [1]:
import pandas as pd
import json

In [3]:
models = ['BKT', 'PFA', 'DKT', 'SAKT-KC', 'SAKT-E']
years = ['19-20','20-21','21-22','22-23','23-24']
sample_nums = range(1,11)
res = []

for mod in models:
    for train_year in years:
        train_idx = years.index(train_year)
        if mod == 'BKT' or mod == 'PFA':
            with open(f'./Data/third_round_data/{mod}_{train_year}.json') as myfile:
                obj = json.load(myfile)
                for s_num, eval_year_dict in obj.items():
                    for eval_year, metrics in eval_year_dict.items():
                        eval_idx = years.index(eval_year)
                        years_between = eval_idx - train_idx
                        res.append([mod, train_year, eval_year, s_num, years_between, metrics['auc'], metrics['ll'], metrics['f1']])
        else:
            for s in sample_nums:
                with open(f'./Data/third_round_data/{mod}_{train_year}_{s}.json') as myfile:
                    obj = json.load(myfile)
                    for eval_year, metrics in obj.items():
                        eval_idx = years.index(eval_year)
                        years_between = eval_idx - train_idx
                        res.append([mod, train_year, eval_year, s_num, years_between, metrics['auc'], metrics['ll'], metrics['f1']])
                        
df = pd.DataFrame(res,columns=['model','train_year','eval_year','sample_num','years_between','auc','ll','f1'])

In [4]:
df

,model,train_year,eval_year,sample_num,years_between,auc,ll,f1
0,BKT,19-20,19-20,1,0,0.846693,0.415082,0.882798
1,BKT,19-20,20-21,1,1,0.915741,0.320083,0.896144
2,BKT,19-20,21-22,1,2,0.861211,0.409237,0.871096
3,BKT,19-20,22-23,1,3,0.837445,0.451993,0.853777
4,BKT,19-20,23-24,1,4,0.815265,0.489744,0.842612
...,...,...,...,...,...,...,...,...
745,SAKT-E,23-24,23-24,10,0,0.903915,0.361197,0.832402
746,SAKT-E,23-24,23-24,10,0,0.900511,0.365232,0.830932
747,SAKT-E,23-24,23-24,10,0,0.905853,0.355760,0.834591
748,SAKT-E,23-24,23-24,10,0,0.907425,0.350554,0.835942
749,SAKT-E,23-24,23-24,10,0,0.904341,0.359262,0.832805

In [5]:
df.to_csv('./Data/results_pt_3.csv')