In [1]:
import pandas as pd
from sakt_pt import SAKTModel
import torch

In [2]:
train_df = pd.read_csv('../samples/23-24/sample1.csv')

In [3]:
train_df.head()

,problem_log_id,assignment_log_id,old_problem_id,start_time,discrete_score,user_xid,skill_id,academic_year
0,177295603,22804551,1530763,2023-09-21 00:44:12.567 -0400,1,3836353,126,23-24
1,177295733,22804551,1531138,2023-09-21 00:55:38.740 -0400,1,3836353,66,23-24
2,177295732,22804551,1531137,2023-09-21 00:55:21.086 -0400,1,3836353,66,23-24
3,177295842,22804551,1531151,2023-09-21 01:02:03.266 -0400,1,3836353,174,23-24
4,177295842,22804551,1531151,2023-09-21 01:02:03.266 -0400,1,3836353,1135,23-24

In [4]:
val_df = pd.read_csv('../samples/23-24/sample8.csv')
val_df

,problem_log_id,assignment_log_id,old_problem_id,start_time,discrete_score,user_xid,skill_id,academic_year
0,177292989,22883806,1305127,2023-09-20 22:45:14.271 -0400,0,3803451,1133,23-24
1,177300704,22874860,1463811,2023-09-21 08:59:47.665 -0400,0,3810009,1136,23-24
2,177306820,22884677,1544216,2023-09-21 09:47:07.054 -0400,0,3862232,1129,23-24
3,177301209,22884677,1544210,2023-09-21 09:09:37.946 -0400,0,3862232,1129,23-24
4,177310112,22873605,1519468,2023-09-21 10:05:16.292 -0400,0,3860025,125,23-24
...,...,...,...,...,...,...,...,...
313764,178353312,23017801,1222627,2023-10-06 11:58:08.181 -0400,1,3823049,1132,23-24
313765,178328493,23014314,1295739,2023-10-05 23:43:06.140 -0400,1,3799191,89,23-24
313766,178328324,23014314,1295742,2023-10-05 23:31:52.000 -0400,0,3799191,89,23-24
313767,178328272,23014314,1295740,2023-10-05 23:28:34.596 -0400,0,3799191,89,23-24
313768,178328504,23014314,1295759,2023-10-05 23:43:56.898 -0400,0,3799191,89,23-24

In [ ]:
num_steps = 50
batch_size = 16
d_model = 128
num_heads = 8
dropout_rate = 0.2
device = 'cuda' if torch.cuda.is_available() else 'cpu'

model = SAKTModel(
    num_steps=num_steps,
    batch_size=batch_size,
    d_model=d_model,
    num_heads=num_heads,
    dropout_rate=dropout_rate,
    device = device
).to(device)

num_epochs = 5
early_stopping = True
patience = 2
# Training and validation
print("Starting training...")
model.fit(train_df= train_df, val_df=val_df, num_epochs=num_epochs, early_stopping=early_stopping, patience=patience)

# Final evaluation on validation set
print("Evaluating on validation set...")
val_auc, val_loss = model.evaluate(val_df)
print(f"Validation AUC: {val_auc:.4f}, Validation Loss: {val_loss:.4f}")

Using device: cpu
Starting training...
Model layers initialized.

Epoch 1/5: 0it [00:00, ?it/s]